inside.tcpdump filter=lfs diff=lfs merge=lfs -text
argus.* filter=lfs diff=lfs merge=lfs -text
master_identifications.list filter=lfs diff=lfs merge=lfs -text
master-listfile-condensed.txt filter=lfs diff=lfs merge=lfs -text
sguild.log filter=lfs diff=lfs merge=lfs -text
u2spewfoo-dump-from-snort.unified2.1530459893.txt filter=lfs diff=lfs merge=lfs -text
eve.json filter=lfs diff=lfs merge=lfs -text
roc_analysis/snort_confusion_matrix.csv filter=lfs diff=lfs merge=lfs -text
